@import "./var";
$h-nav: 75px;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-1-med;
}

nav {
    height: $h-nav;
    width: 100%;
    background-color: $color-1-dark;
    position: sticky;
    top: 0;
    color: #cfe2e2;

    a {
        text-decoration: none;
        font-family: Helvatica, sans-serif;
        font-weight: bolder;
        font-size: 32px;
        line-height: $h-nav;
        padding: 0 1em;

        &:link,
        &:visited {
            color: $color-1-light;
        }
        &:hover {
            color: white;
        }
        &:active {
            filter: invert(10%);
        }
    }
}
section {
    height: 100vh;

    &:nth-of-type(even) {
        background-color: rgba($color-2-med, 0.6);
    }

    h1 {
        text-align: center;
        line-height: 100vh;
        font-size: 72px;
        color: $color-1-dark ;
    }
}
#arrow {
    width: 0;
    height: 0;
    border-width: 25px 20px ;
    border-style: solid;
    border-color: transparent transparent #e6ffe6 ;
    border-radius: 10%;

    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;

    &:hover {
        filter: drop-shadow(0, 0, 10px, #f1fff1),
        brightness(120%);
    }
}